.about-container {
  display: flex;
}

.about__img {
  position: relative;
  border: 30px solid transparent;
  border-image: linear-gradient(to right, #c89afc, #7c6afa);
  border-image-slice: 1;
  width: 526px;
  height: 499px;
}

.about-img__svg {
  position: absolute;
  top: 67px;
}

.about__text {
  margin-left: 134px;
  margin-top: 69px;
}

.about__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 45px;
}

.about__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  width: 636px;
  margin-bottom: 205px;
}
