body {
  background-color: #121212;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  background-image: url(../images/bgc1.jpg);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
}
